<div id="logo">
  <span class="big-logo">QUẢN LÍ</span>
  <span class="small-logo">ADMIN</span>
</div>
<div id="left-menu">
  <ul>
    <li class="active"><a href="#">
        <i class="fa fa-user" aria-hidden="true" style="padding-top: 5px;"></i>
        <span>Trang quản lí</span>
      </a>
    </li>
    <li>
      <a href="/admin/users">
        <i class="ion-ios-chatboxes-outline"></i>
        <span>Tài khoản người dùng</span>
      </a>
    </li>
    <li>
      <a href="/admin/transaction">
        <i class="ion-ios-person-outline"></i>
        <span>Xét duyệt giao dịch
        </span>
      </a>
    </li>
    <li>
      <a href="/user/signout">
        <i class="ion-ios-person-outline"></i>
        <span>Đăng xuất
        </span>
      </a>
    </li>
  </ul>
</div>