<footer id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <h3>Một chạm - Mọi thứ trong tầm tay</h3>
        <p>Hãy trải nghiệm dịch vụ tốt nhất cùng chúng tôi</p>
        <div class="row ">
          <div class="col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-earphone"></span>
            <a href="tel:123456789">123-456-789</a>
          </div>
          <div class="col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:get@bootstrap.com">student@ttdtu.edu.vn</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>