<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1>Đây là lan dau tien ban dang ky</h1>
    <h1>Hay luu lai thong tin dang nhap !!!</h1>
    <p>Username : <%= username %></p>
    <p>Password : <%= password %></p>
    <a href="/account/login">Nhan vao day de LOGIN</a>
</body>

</html>