<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1>Đây là HOME PAGE</h1>
    <form action="/account/logout" method="post">
        <button class="btn btn-danger">LOG OUT</button>
    </form>
</body>

</html>